Source: wasta-offline-setup
Section: utils
Priority: extra
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://sites.google.com/site/wastalinux/

Package: wasta-offline-setup
Architecture: all
Depends: dpkg-dev, gksu, ${shlibs:Depends}, ${misc:Depends}
Recommends: wasta-offline
Description: Create or Update a wasta-offline "Local Cache Repository"
 wasta-offline-setup guides a user through creating or updating a wasta-offline
 local cache repository.  A "wasta-offline local cache repository" consists
 of software packages  from a computer's local apt cache of installed software.
 .
 The "wasta-offline local cache repository" can then be used by wasta-offline
 on other computers to perform local software installs or updates.
